<!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href='/stylesheets/all.css' />
<div id="menu-wrapper">
    <ul class="nav">
        <li><a href="/">Home</a>
        </li>
        <li><a href="#">Trading</a>
        <ul class="drop">
            <li><a href="/OfferProduct">Offer Product</a></li>
            <li><a href="/OfferService">Offer Service</a></li>
            <li><a href="/PeerTrade">Peer Trading</a></li>
            <li><a href="/NearByTrading">Near By Trading</a></li>
            <li><a href="/GroupTrade">Group Trading</a></li>
            <li><a href="/ViewOffersServices">Check Offers</a></li>
        </ul>
        </li>
        <li><a href="#">Messaging</a>
            <ul class="drop">
                <li><a href="/Chatting">Chats</a></li>
                <li><a href="/PrivateMessages">Private Message</a></li>
            </ul>
        </li>
        <li><a href="#">Negotiations</a>
            <ul class="drop">
                <li><a href="/AcceptOffers">Offer Pings</a></li>
                <li><a href="/PeerPings">Peer Pings</a></li>
                <li><a href="/GroupPings">Group Pings</a></li>
                <li><a href="/NegotiateOffers">Negotiate Offers</a></li>
            </ul>
        </li>
        <li><a href="#">Settings</a>
            <ul class="drop">
                <li><a href="/AddGroup">Create Group</a></li>
                <li><a href="/GroupMembers">Add Members</a></li>
                <li><a href="/FriendRequest">Find Friends</a></li>
                <li><a href="/WishList">Add WishList</a></li>
                <li><a href="/ActivityLog">Activity Logs</a></li>
            </ul>
        </li>
        </ul>
</div>
