<% include ../partials/header %>
<% include ../partials/navigation %>
<div class="content">
<div class="chat-box">
    <span class="chat-head"><strong>welcome</strong> to chat box</span>
    <div class="inner-box">
        <div class="row">
            <div class="span2">
             <ul id="people" class="unstyled"></ul>
         </div>
            <div class="chat-area">
            <div id="msgs"></div>
         </div><br/>
        </div>
        <div class="online-list">
            <strong>online members</strong>
            <ul>
                <a href="#"><li>ram</li></a>
                <a href="#"><li>ram</li></a>
                <a href="#"><li>ram kumar thapa</li></a>
                <a href="#"><li>ram</li></a>
                <a href="#"><li>ram</li></a>
                <a href="#"><li>ram</li></a>
                <a href="#"><li>ram</li></a>

            </ul>
        </div>
    </div>
        <div class="row-chat">
                <form class="form-inline">
                    <input type="text" class="input-small" placeholder="Your name" id="name">
                    <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
                    <input type="text" class="input" placeholder="Your message" id="msg">
                    <input type="button" name="send" id="send" value="Send" class="btn btn-success">
                </form>
        </div>
</div>
</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="http://1.2.3.4/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href='/stylesheets/all.css' />
<script>
    $(document).ready(function(){
        var socket = io.connect("http://localhost:3000");
        $("#chat").hide();
        $("#name").focus();
        $("form").submit(function(event){
            event.preventDefault();
        });

        $("#join").click(function(){
            var name = $("#name").val();
            if (name != "") {
                socket.emit("join", name);
                $("#login").detach();
                $("#chat").show();
                $("#msg").focus();
                ready = true;
            }
        });

        $("#name").keypress(function(e){
            if(e.which == 13) {
                var name = $("#name").val();
                if (name != "") {
                    socket.emit("join", name);
                    ready = true;
                    $("#login").detach();
                    $("#chat").show();
                    $("#msg").focus();
                }
            }
        });

        socket.on("update", function(msg) {
            if(ready)
                $("#msgs").append("" + msg + "");
        })

        socket.on("update-people", function(people){
            if(ready) {
                $("#people").empty();
                $.each(people, function(clientid, name) {
                    $('#people').append("" + name + "");
                });
            }
        });

        socket.on("chat", function(who, msg){
            if(ready) {
                $("#msgs").append("" + who + " says: " + msg + " </br>");
            }
        });

        socket.on("disconnect", function(){
            $("#msgs").append("The server is not available");
            $("#msg").attr("disabled", "disabled");
            $("#send").attr("disabled", "disabled");
        });


        $("#send").click(function(){
            var msg = $("#msg").val();
            socket.emit("send", msg);
            $("#msg").val("");
        });

        $("#msg").keypress(function(e){
            if(e.which == 13) {
                var msg = $("#msg").val();
                socket.emit("send", msg);
                $("#msg").val("");
            }
        });

    });
</script>
<% include ../partials/footer %>