<!DOCTYPE html>
<%include ../partials/header %>
<%include ../partials/navigation %>
<script>
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadgrpimg").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("goupimg").src = oFREvent.target.result;
        };

    };
</script>
<div class="content">
<form id="contact" class="contact_form"method="post" action="/AddGroup" enctype="multipart/form-data">
    <ul>
        <h1>Add Group</h1>
        <li>
            <label for="name">Group Name:</label>
            <input type="text" name="GroupName">
        </li>
        <li>
            <label for="AddPhoto">Add Photo</label>
            <img id="goupimg" style="width: 100px; height: 100px;" />
            <input id="uploadgrpimg" type="file" name="GroupPhoto" onchange="PreviewImage()">
        </li>
        <li class="submit">
        <input type="button" name="Cancel" id="Cancel" value="Cancel" />
        <input type="submit" name="submit" id="submit" value="Create Group" />
        </li>
    </ul>
</form>
</div>
<% include ../partials/footer %>
