<!DOCTYPE html>
<%include ../partials/header %>
<%include ../partials/navigation %>
<div class="content">
    <div id ="ProductContent" name="ProductContent"class="content">
        <form class="contact_form" method="Get" name="contact_form" xmlns="http://www.w3.org/1999/html">
    <h1>Notifications</h1>
    <div class="add_mem">
        <table id="example" width="100%" height="300em" >
            <tr class="act_log">
                <th>From</th>
                <th>Details</th>
                <th>Date</th>
            </tr>
            <%for (var i in NDetails){%>
            <tr>
                <td><%=NDetails[i].FirstName%> <%=NDetails[i].LastName%></td>
                <td><%=NDetails[i].NotificationDetails%></td>
                <td><%=NDetails[i].NotificationDate.toLocaleDateString()%></td>
            </tr>
            <%}%>
        </table>
    </div>
        </form>
    </div>
</div>
<% include ../partials/footer %>
